.input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.label {
    text-transform: capitalize;
    font-weight: bold;
}

.input {
    padding: 0.6em;
    border: 1px lightGray solid;
    border-radius: 5px;
    margin: 0;
}